* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
}

.slide {
    flex: 1;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.slide img:hover {
    transform: scale(1.1);
}

.content {
    position: absolute;
    bottom: 50px;
    z-index: 1;
}

.button-container {
    margin-top: 20px;
}

button {
    background-color: #333;
    border: 2px solid transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
}
footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
